<div>
  <div class="modal-title">
    <h2>Preencha os campos</h2>
  </div>
  <div class="modal-content">
    <div class="form-group">
      <label for="nome">Nome do cliente:</label>
      <input
        type="text"
        id="nome"
        class="form-control"
        [(ngModel)]="cliente.nome"
      />
    </div>

    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input
        type="text"
        id="cpf"
        class="form-control"
        [(ngModel)]="cliente.cpf"
      />
    </div>
    <div class="form-group">
      <label>Endereços:</label>
      <div *ngFor="let endereco of enderecos">
        <label>
          <input
            type="checkbox"
            (change)="toggleEnderecoSelection(endereco)"
            [checked]="enderecoSelecionado.includes(endereco)"
          />
          {{ endereco.rua }}, n°{{ endereco.numero }}
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button id="modalBtn" class="btn btn-primary" (click)="save()">
        Salvar
      </button>
    </div>
  </div>
</div>
