<div class="container">
  <div class="container-left">
    <img
      class="logo-login"
      src="../../../../assets/prototipo website.png"
      alt="Logo"
    />
  </div>
  <div class="container-right">
    <div class="content">
      <div class="title-content">
        <h1 class="title">Acessar minha conta</h1>
        <p class="subtitle">Entre agora para genrenciar seu negocio</p>
      </div>

      <div class="form">
        <div class="login-info">
          <p>Informe o seu Login</p>
          <input
            [(ngModel)]="login"
            class="input"
            type="text"
            placeholder="Informa pra gente seu Login"
          />
          <div class="error-message">{{ loginError }}</div>
        </div>

        <div class="login-info">
          <p>Informe a sua senha</p>
          <input
            [(ngModel)]="senha"
            class="input"
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Informa pra gente a sua senha"
          />
          <button class="show-password" (click)="togglePassword()">
            <ng-icon
              class="icon-password"
              name="{{ showPassword ? 'heroEye' : 'heroEyeSlash' }}"
            ></ng-icon>
          </button>
          <div class="error-message">{{ passwordError }}</div>
          <div class="forgot-password">
            <a href="/register">Esqueci minha senha</a>
          </div>
        </div>
        <div class="error-message1">{{ credentialsError }}</div>
      </div>

      <div class="login">
        <button class="learn-more" (click)="doLogin()">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Acessar</span>
        </button>
      </div>
    </div>
  </div>
  <div class="loading-container" *ngIf="isLoading">
    <div class="loading-spinner"></div>
  </div>
</div>
