<div class="container1">
  <div class="container-left">
    <img
      class="logo-login"
      src="../../../../assets/prototipo website.png"
      alt="Logo"
    />
  </div>
  <div class="container-right">
    <div class="content">
      <div class="title-content">
        <h1 class="title">Criar conta</h1>
        <p class="subtitle">Cadastre seu funcionario!</p>
      </div>

      <div class="form">
        <div class="login-info">
          <p>Nome</p>
          <input
            [(ngModel)]="funcionario.nome"
            class="input"
            type="text"
            placeholder="Informa pra gente seu Nome"
          />
        </div>
        <div class="login-info">
          <p>Login</p>
          <input
            [(ngModel)]="user.username"
            class="input"
            type="text"
            placeholder="Informa pra gente seu login"
          />
        </div>
        <div class="login-info">
          <p>Senha</p>
          <input
            [(ngModel)]="user.password"
            class="input"
            type="password"
            placeholder="Informa pra gente a sua senha"
          />
        </div>
      </div>
      <div class="login-info">
        <p>Senha</p>
        <input
          [(ngModel)]="user.role"
          class="input"
          type="text"
          placeholder="Informa pra gente a sua role"
        />
      </div>
    </div>

    <div class="login">
      <button class="learn-more" (click)="salvar()">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Criar conta</span>
      </button>
    </div>
  </div>
</div>
