<header class="header">
  <div class="content">
    <a href="/order">
      <img class="img-logo" src="../../../assets/logo.png" title="logo" />
    </a>
    <input class="mobile-btn" type="checkbox" id="mobile-btn" />
    <label class="mobile-icon" for="mobile-btn"
      ><span class="hamburguer"></span
    ></label>

    <ul class="nav">
      <li><a href="/order" title="Pedidos">Pedidos</a></li>
      <li><a href="#" title="Clientes">Clientes</a></li>
      <li><a href="#" title="Funcionarios">Funcionarios</a></li>
      <li><a href="#" title="Contato">Produtos</a></li>
    </ul>
  </div>
</header>
