.container1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .title-content {
      font-family: "NexaSlab";
      display: flex;
      gap: 5px;
      flex-direction: column;
      padding: 20px;
      text-transform: uppercase;

      .title {
        color: #4f4a4b;
        font-family: "NexaSlab";
        font-size: 40px;
      }
      .subtitle {
        color: #d10000;
      }
    }
    .new-order {
      display: flex;
      flex-direction: column;
      font-family: "Public Sans", sans-serif;
      align-items: center;
      padding: 16px;
      button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
      }

      button.learn-more {
        width: 12rem;
        height: auto;
      }

      button.learn-more .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #d10000;
        border-radius: 1.625rem;
      }

      button.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
      }

      button.learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
      }

      button.learn-more .circle .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
      }

      button.learn-more .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #d10000;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }

      button:hover .circle {
        width: 100%;
      }

      button:hover .circle .icon.arrow {
        background: #fff;
        transform: translate(1rem, 0);
      }

      button:hover .button-text {
        color: #fff;
      }
    }
  }
  .filter1 {
    display: flex;
    gap: 16px;
    flex-direction: row;
    padding: 16px;
    justify-content: center;
    border-bottom: rgba(167, 167, 167, 0.8) solid 1px;
    justify-content: start;

    .input-style {
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      color: #555;
      outline: none;
      height: 16px;
    }

    .input-style:focus {
      border-color: #d10000;
      box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    }
    .btn {
      font-size: 17px;
      background: transparent;
      border: none;
      padding: 8px;
      color: #555;
      text-transform: uppercase;
      position: relative;
      transition: 0.5s ease;
      cursor: pointer;
    }

    .btn::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: #d10000;
      transition: 0.5s ease;
    }

    .btn:hover {
      color: white;
      transition-delay: 0.5s;
    }

    .btn:hover::before {
      width: 100%;
    }

    .btn::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0;
      width: 100%;
      background-color: #d10000;
      transition: 0.4s ease;
      z-index: -1;
    }

    .btn:hover::after {
      height: 100%;
      transition-delay: 0.4s;
      color: #555;
    }
  }
  .pedido {
    display: flex;
    flex-wrap: wrap; /* Permite a quebra de linha dos cartões */
    justify-content: flex-start; /* Alinhamento à esquerda (pode ser ajustado conforme necessário) */
    margin-bottom: 80px;
    .card1 {
      overflow: visible;
      width: 250px;
      height: 370px;
      padding: 16px;
      margin-right: 16px; /* Espaçamento entre os cartões (ajuste conforme necessário) */
      margin-bottom: 16px;
    }

    .content {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 400ms;
      box-shadow: 0px 0px 10px 1px #000000ee;
      border-radius: 5px;
    }

    .front,
    .back {
      background-color: #fedd58;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      border-radius: 5px;
      overflow: hidden;
    }

    .back {
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .back::before {
      position: absolute;
      content: " ";
      display: block;
      width: 160px;
      height: 160%;
      background: linear-gradient(
        90deg,
        transparent,
        #d10000,
        #d10000,
        #d10000,
        #d10000,
        transparent
      );
      animation: rotation_481 5000ms infinite linear;
    }

    .back-content {
      position: absolute;
      width: 99%;
      height: 99%;
      background-color: #f25821;
      border-radius: 5px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    .card1:hover .content {
      transform: rotateY(180deg);
    }

    @keyframes rotation_481 {
      0% {
        transform: rotateZ(0deg);
      }

      0% {
        transform: rotateZ(360deg);
      }
    }

    .front {
      transform: rotateY(180deg);
      color: white;
    }

    .front .front-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .front-content .badge {
      background-color: #00000055;
      padding: 2px 10px;
      border-radius: 10px;
      backdrop-filter: blur(2px);
      width: fit-content;
      margin: 8px;
    }

    .title {
      font-size: 11px;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .title p {
      width: 50%;
    }

    .card-footer {
      color: #ffffff88;
      font-size: 8px;
      display: flex;
      padding: 8px;
      justify-content: space-between;
      .editBtn {
        width: 44px;
        height: 44px;
        border-radius: 20px;
        border: none;
        background-color: #f25821;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
      }
      .editBtn::before {
        content: "";
        width: 200%;
        height: 200%;
        background-color: rgba(255, 178, 89, 0.73);
        position: absolute;
        z-index: 1;
        transform: scale(0);
        transition: all 0.3s;
        border-radius: 50%;
        filter: blur(10px);
      }
      .editBtn:hover::before {
        transform: scale(1);
      }
      .editBtn:hover {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
      }

      .editBtn svg {
        height: 20px;
        fill: white;
        z-index: 3;
        transition: all 0.2s;
        transform-origin: bottom;
      }
      .editBtn:hover svg {
        transform: rotate(-15deg) translateX(5px);
      }
      .editBtn::after {
        content: "";
        width: 12px;
        height: 1.5px;
        position: absolute;
        bottom: 7px;
        left: -5px;
        background-color: white;
        border-radius: 2px;
        z-index: 2;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-out;
      }
      .editBtn:hover::after {
        transform: scaleX(1);
        left: 0px;
        transform-origin: right;
      }
    }

    .front .img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .card-content {
      background-color: #f25821;
      padding: 2px 10px;
      border-radius: 10px;
      backdrop-filter: blur(2px);
      width: fit-content;
      margin: 8px;
    }

    @keyframes floating {
      0% {
        transform: translateY(0px);
      }

      50% {
        transform: translateY(10px);
      }

      100% {
        transform: translateY(0px);
      }
    }
  }
}
