<div class="container1">
  <div class="header-container">
    <div class="title-content">
      <h1 class="title">Clientes</h1>
      <p class="subtitle">Todos seus Clientes!</p>
    </div>
    <div class="new-order">
      <button class="learn-more" (click)="openCreateModal(criarCliente)">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Novo Cliente</span>
      </button>
    </div>
  </div>
  <div class="container">
    <div ngbAccordion #accordion="ngbAccordion">
      <div ngbAccordionItem="first">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Clientes</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="container-content">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nome</th>
                      <th scope="col">CPF</th>
                      <th scope="col">Endereços</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cliente of list; index as i">
                      <th>{{ cliente.id }}</th>
                      <td>
                        <!-- Use ngIf to show either the country name or an input field based on an edit flag -->
                        <!-- *ngIf="!products.editing; else editField" -->
                        <ng-container>
                          {{ cliente.nome }}
                        </ng-container>
                        <!-- <ng-template #editField>
                          <input
                            [(ngModel)]="products.nome"
                            class="form-control"
                          />
                        </ng-template> -->
                      </td>
                      <td>
                        <!-- Similar editing logic for other fields -->
                        <!-- *ngIf="!products.editing; else editAreaField" -->
                        <ng-container>
                          {{ cliente.cpf }}
                        </ng-container>
                        <!-- <ng-template #editAreaField>
                          <input
                            [(ngModel)]="products.valor"
                            class="form-control"
                          />
                        </ng-template> -->
                      </td>
                      <td>
                        <button
                          class="button-table"
                          (click)="openModal(enderecos, cliente)"
                        >
                          <span>Endereços</span>
                        </button>
                      </td>
                      <td>
                        <!-- Toggle the editing flag for the current item -->
                        <!-- <button
                          class="btn btn-primary"
                          (click)="products.editing = !products.editing"
                        >
                          {{ products.editing ? "Save" : "Edit" }}
                        </button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #criarCliente let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Novo Cliente</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-new-client></app-new-client>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<ng-template #enderecos let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Detalhes dos clientes</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Endereços:</p>
    <div *ngFor="let endereco of enderecosDoCliente">
      <p>
        {{ endereco.id }}° Endereço <br />
        Rua: {{ endereco.rua }} - N°: {{ endereco.numero }}
      </p>
    </div>
  </div>
  <div class="form-control">
    <button
      type="button"
      class="btn btn-primary"
      aria-label="Adicionar novo endereço"
      (click)="AddNewAdress()"
      [disabled]="newEnderecosDoCliente.length >= 3"
    >
      Adicionar novo endereço
    </button>

    <div
      class="form-group1"
      *ngFor="let newEndereco of newEnderecosDoCliente; index as i"
    >
      <div class="form-group-content">
        <label>Endereço {{ i + 1 }}:</label>
        <input type="text" id="endereco_{{ i }}" class="form-control" />
      </div>
      <div class="form-group-content">
        <label>Numero do Endereço {{ i + 1 }}:</label>
        <input
          type="number"
          id="numero-endereco_{{ i }}"
          class="form-control"
        />
      </div>
    </div>
    <button
      id="modalBtn"
      class="btn btn-primary"
      *ngIf="!!newEnderecosDoCliente.length"
      (click)="saveAdress()"
    >
      Salvar
    </button>
  </div>
  <div class="modal-footer"></div>
</ng-template>
