.container1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4f4a4b;
    margin-bottom: 30px;
    .title-content {
      font-family: "NexaSlab";
      display: flex;
      gap: 5px;
      flex-direction: column;
      padding: 20px;
      text-transform: uppercase;

      .title {
        color: #4f4a4b;
        font-family: "NexaSlab";
        font-size: 40px;
      }
      .subtitle {
        color: #d10000;
      }
    }
    .new-order {
      display: flex;
      flex-direction: column;
      font-family: "Public Sans", sans-serif;
      align-items: center;
      padding: 16px;
      button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
      }

      button.learn-more {
        width: 16rem;
        height: auto;
      }

      button.learn-more .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #d10000;
        border-radius: 1.625rem;
      }

      button.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
      }

      button.learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
      }

      button.learn-more .circle .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
      }

      button.learn-more .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #d10000;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }

      button:hover .circle {
        width: 100%;
      }

      button:hover .circle .icon.arrow {
        background: #fff;
        transform: translate(1rem, 0);
      }

      button:hover .button-text {
        color: #fff;
      }
    }
  }
  .container-content1 {
    display: flex;
    padding: 24px;
    border-radius: 5%;
  }
  .accordion-button {
    background-color: #d10000;
    color: #fff;
    border-color: #4f4a4b;
  }
  .accordion-button::after {
    background-color: #d10000;
    color: #fff;
    border-color: #4f4a4b;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
}
