<div class="container1">
  <div class="header-container">
    <div class="title-content">
      <h1 class="title">Funcionarios</h1>
      <p class="subtitle">Todos seus Funcionarios!</p>
    </div>
    <div class="new-order">
      <button
        *ngIf="!isUserRoleUser()"
        class="learn-more"
        (click)="novoClient()"
      >
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Novo Funcionario</span>
      </button>
    </div>
  </div>
  <div class="container">
    <div ngbAccordion #accordion="ngbAccordion">
      <div ngbAccordionItem="first">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Funcionarios</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="container-content">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nome</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let funcionario of list; index as i">
                      <th scope="row">{{ funcionario.id }}</th>
                      <td>
                        <!-- Similar editing logic for other fields -->
                        <!-- *ngIf="!products.editing; else editAreaField" -->
                        <ng-container>
                          {{ funcionario.nome }}
                        </ng-container>
                        <!-- <ng-template #editAreaField>
                          <input
                            [(ngModel)]="products.valor"
                            class="form-control"
                          />
                        </ng-template> -->
                      </td>
                      <!-- <td>
                        Toggle the editing flag for the current item
                        <button
                          class="btn btn-primary"
                          (click)="products.editing = !products.editing"
                        >
                          {{ products.editing ? "Save" : "Edit" }}
                        </button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
