<ng-container *ngIf="mostrar">
  <div class="modal">
    <div class="select-content">
      <select name="Pizza" id=""></select>
      <select name="Produtos" id=""></select>
    </div>
    <div class="content-medium">
      <select name="Cliente" id=""></select>
      <select name="Funcionario" id=""></select>
    </div>
    <div class="container">
      <p>Vai ser entrega ?</p>
      <input type="checkbox" />
      <svg viewBox="0 0 64 64" height="2em" width="2em">
        <path
          d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16"
          pathLength="575.0541381835938"
          class="path"
        ></path>
      </svg>
    </div>
    <div class="modal-footer">
      <button>Cancelar</button>
      <button>Salvar</button>
    </div>
    <ng-content></ng-content>
  </div>
  <div (click)="openNewOrderModal()" class="overlay"></div>
</ng-container>
